
@{
    ViewBag.Title = "MyBooks";
}

<center><h2>Issued Books</h2></center>
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/images/1.jpg" class="img-responsive" width="40%" height="40%">
            <p> Title: Advanced Engineering Mathematics </p>
            <p> Author: Erwin Kreyszig </p>
            <p> Edition: 9 </p>
            <p> Book ID: 1 </p>
            <p> <input type="button" class="btn btn-default" value="Return Book" onclick="location.href = 'Alert Return.html';" style="height:40px"> </p>

        </div>
        <div class="col-sm-4">
            <img src="~/images/visual.jpg" class="img-responsive" width="40%" height="40%">
            <p> Title: Visual C++ Programming </p>
            <p> Author: Mc Carley </p>
            <p> Edition: 2 </p>
            <p> Book ID: 3</p>
            <p> <input type="button" class="btn btn-default" value="Return Book" onclick="location.href = 'Alert Return.html';" style="height:40px"> </p>
        </div>
    </div>
</div>

